<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> 成功！</h1>
<div id="dev01" class="myDiv" th:id="${name}" th:class="${name}" th:text="${name}"></div>
<!--th:text 將div裏面的文本設置為-->
<div th:text="${sex}"></div>
<div th:text="${#numbers.formatDecimal(price, 1, 2)}"></div>
<hr/>
<div th:text="${name}"></div>
<div> 下面的不会转义</div>
<div th:untext="${name}"> 小狗</div>
<hr/>
<!--th:each 每次便利都會生成當前的這個標簽，3個h4-->
<hr/>
<h4 th:text="${user}" th:each="user:${users}"></h4>
<hr/>
<!--通过span -->
<h4>
    <span th:each="user:${users}">[[${user}]]，</span>
</h4>
</body>
</html>